@import url('https://fonts.googleapis.com/css2?family=Carme&family=Poetsen+One&display=swap');

:root {
  --light-green: #027373;
  --light-gray: #D9D9D9;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
